<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div class="form-login" style="border: 1px solid;padding: 15px; margin: 50px;" >
        <form action="/admin/auth" method="post">
            <label for="flogin">Login</label>
            <input type="text" name="login" id="flogin">
            <label for="fpass">Password</label>
            <input type="password" name="password" id="fpass">
            <button type="submit">Войти</button>
        </form>
    </div>
</body>

</html>