<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .inline {
        display: inline-block;
    }
</style>

<body>
    <div>
        <h1 class="inline">Админ панель</h1>
        <a href="/create">Создать соревнование</a>
    </div>

    <div class="champ-block" style="border: 1px solid;padding: 15px; margin: 50px;">
        <div>
            <h3 class="inline">1</h3>
            <h3 class="inline">Название</h3>
            <p class="inline">        </p>
            <a href="">Настройки</a>
            <a href="">Участники</a>
        </div>
        <div>
            <p class="inline" style="padding-right: 25px;">5 человек</p>
            <p class="inline" style="padding-right: 25px;">Старт в 13:55</p>
            <p class="inline">Конец в 13:55</p>
        </div>


    </div>
</body>

</html>