<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .inline {
        display: inline-block;
    }
</style>

<body>
    <div>
        <h1 class="inline">Админ панель</h1>
        <a href="/admin/create">Создать соревнование</a>
    </div>

    {% for champ in champs %}

    <div class="champ-block" style="border: 1px solid;padding: 15px; margin: 50px;">
        <div>
            <h3 class="inline">{{champ[0]}}</h3>
            <h3 class="inline">{{champ[1]}}</h3>
            <p class="inline">        </p>
            <a href="/admin/champ/{{champ[0]}}">Настройки</a>
            <a href="/admin/champ/{{champ[0]}}/users">Участники</a>
        </div>
        <div>
            <p class="inline" style="padding-right: 25px;">ХЗ человек</p>
            <p class="inline" style="padding-right: 25px;">Старт в {{champ[2]}}</p>
            <p class="inline">Конец в ХЗ</p>
        </div>
    </div>

    {% endfor %}

</body>

</html>