<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .inline {
        display: inline-block;
    }
</style>

<body>
    <div>
        <h1 class="inline">Админ панель</h1>
    </div>

    <h4>Соревнования</h4>

    <div class="block" style="border: 1px solid;padding: 15px; margin: 50px;width: 25%;">

        <div style="display: flex;flex-flow: column wrap;">
            <div class="block" style="border: 1px solid" title="По лесу слоник ходит, бродит">
                <p class="inline" style="background-color: black;color: aliceblue;padding: 5px;margin-left: 5px;">1</p>
                <p class="inline">Слоник по полю</p>
                <button class="inline">Добавить на соревнование</button>
            </div>
        </div>

        <div style="display: flex;flex-flow: column wrap;">
            <div class="block" style="border: 1px solid" title="По лесу слоник ходит, бродит">
                <p class="inline" style="background-color: black;color: aliceblue;padding: 5px;margin-left: 5px;">2</p>
                <p class="inline">Сложение</p>
                <button class="inline">Добавить на соревнование</button>
            </div>
        </div>

        <div style="display: flex;flex-flow: column wrap;">
            <div class="block" style="border: 1px solid" title="По лесу слоник ходит, бродит">
                <p class="inline" style="background-color: black;color: aliceblue;padding: 5px;margin-left: 5px;">3</p>
                <p class="inline">Квадратное уравнение</p>
                <button class="inline">Добавить на соревнование</button>
            </div>
        </div>
</body>

</html>