<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .inline {
        display: inline-block;
    }
</style>
<script>
    function send(){
        let letter = prompt('Буква задачи');
        let id = prompt('id соревнования');
        console.log(letter)
        console.log(id)
    }
    
</script>
<body>
    <div>
        <h1 class="inline">Админ панель</h1>
    </div>

     <div>
         <h4>Добавить соревнование</h4>
         <a href="https://github.com/Windows-up/TestsGeneratorFramework">Из TestsGeneratorFramework</a>
        <form action="/admin/problems/add" method="post">

            <p>build.json файл</p>
            <textarea name="build" id="" cols="30" rows="2"></textarea>
            <button type="submit">Добавить</button>
        </form>
    </div>


    <h4>Соревнования</h4>


    <div class="block" style="border: 1px solid;padding: 15px; margin: 50px;width: 50%;">

        {% for problem in problems%}

        <div style="display: flex;flex-flow: column wrap;">
            <div class="block" style="border: 1px solid" title="{{problem[2]}}">
                <p class="inline" style="background-color: black;color: aliceblue;padding: 5px;margin-left: 5px;">{{problem[0]}}</p>
                <p class="inline">{{problem[1]}}</p>
                <button class="inline" onclick="send()">Добавить на соревнование</button>
            </div>
        </div>

        {% endfor %}

    </div>
</body>

</html>