<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .inline {
        display: inline-block;
    }
</style>

<body>
    <div>
        <h1 class="inline">Админ панель</h1>
        <div style="padding-left: 10px;">
            <h3>ID</h3>
            <p>{{id}}</p>
        </div>
    </div>

    <a href="/admin/champ/{{id}}/add_users">Добавить пользователей</a>

    <div class="block" style="border: 1px solid;padding: 15px; margin: 50px;width: 25%;">

        <table>
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Логин</th>
                    <th>Пароль</th>
                </tr>
            </thead>
            <tbody>
                {% for task in users %}
                <tr>
                    <td>{{task[0]}}</td>
                    <td>{{task[1]}}</td>
                    <td>{{task[2]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>