{% extends "base/unauthored.html" %}
{% block title %}
CodeBattles · Вход
{% endblock title %}
{% block content %}
<body style="background-color: #ffe0b2;">
<div class="container">
    <div class="row" style="margin-top: 25%;">
        <div class="col-2"></div>
        <div class="col-8 bg-light p-5" style="border-radius: 15px;">
            <h4 class="text-danger">{{error}}</h4>
            <form action="/" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">ID соревнования</label>
                    <input class="form-control" name="id" aria-describedby="emailHelp" placeholder="Введите id">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Логин</label>
                    <input class="form-control" name="login" aria-describedby="emailHelp"
                           placeholder="Введите логин">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Пароль</label>
                    <input type="password" class="form-control" name="password" placeholder="Введите пароль">
                </div>
                <button type="submit" class="btn btn-primary text-white">Войти</button>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>

</body>
{% endblock content %}

