{% extends "base/authored.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/utils.css">
<link rel="stylesheet" href="/static/css/bs-jumbotron.css">
<link rel="stylesheet" href="/static/css/stats.css">
<link href="/static/css/pastie_code_theme.css" rel="stylesheet">
<script src="/static/js/rainbow-custom.min.js"></script>
{% endblock head %}

{% block title %}
CodeBattles · Просмотр посылки
{% endblock title %}

{% block content %}
<main style="background-color: #ffe0b2; min-height: 94vh;">
    <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-lg-12 content-container">
                <!-- Основной контент страницы  -->

                <div class="container py-4">
                    <div class="jumbotron bg-light table-bordered table-hover p-3">
                        <h3>Анализ посылки</h3>
                        <p><b>Язык:</b> {{lang}}</p>
                        <p><b>Исходный код:</b></p>
                        <pre><code data-language="{{lang}}">{{program}}</code></pre>
                        <p><b>Тесты: </b></p>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">№ Теста</th>
                                    <th scope="col">Время (ms)</th>
                                    <th scope="col">Вердикт</th>
                                    <th scope="col">Вывод</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for test in tests %}

                                <tr class="{{test[4]}}">
                                    <th scope="row">{{test[0]}}</th>
                                    <td>{{test[1]}}</td>
                                    <td>{{test[2]}}</td>
                                    <td>
                                        <p style="white-space:pre-line">{{test[3]}}</p>
                                    </td>
                                </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <footer class="pt-3 mt-4 text-muted border-top">
                    &copy; 2023, CodeBattles
                </footer>
            </div>

        </div>
    </div>
    </div>
    </body>

</main>
{% endblock content %}