@import "../node_modules/bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*:before,
*:after{
    font-family: "Inter", sans-serif;
}


.text-lines{
    white-space: pre-line;
}

#root{
    background-color: #334353;
}

.width-inner {
    display: inline-block;
}



.ace_editor,
.ace_editor * {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
}