@import "../node_modules/bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*:before,
*:after{
    font-family: "Inter", sans-serif !important;
}


.text-lines{
    white-space: pre-line;
}

#root{
    background-color: #334353;
}

.width-inner {
    display: inline-block;
}

.example__btn{
    text-align: justify;
    float: right;
}