{% extends "base/authored.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/utils.css">
<link rel="stylesheet" href="/static/css/bs-jumbotron.css">
<link rel="stylesheet" href="/static/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% endblock head %}

{% block title %}
CodeBattles · Ожидание
{% endblock title %}

{% block content %}
<body style="background-color: #ffe0b2;">
    <div class="container">
        <div class="row" style="margin-top: 15%;">
            <div class="col-12 bg-light" style="border-radius: 15px; padding: 10%;">
                <h1>Соревнование </h1><h1><b>{{name}}</b></h1>
                <h3 id="1234567">еще не началось</h3>
                <p></p>
                <p class="m-0">Начало в 18:30</p>
                <p id="12345">До начала: 0:18:25</p>

                <p>Когда соревнование начнется, вы сможете нажать на кнопку</p>
                <form action="/problems" method="get">
                    <button id="123456" class="btn btn-success text-white" disabled>Начать</button>
                </form>


            </div>
            <div class="col-2"></div>
        </div>
    </div>

</body>
{% endblock content %}